:root {
    --dark: rgb(23, 24, 27);
    --darker: rgb(33, 25, 44);
    --light: rgb(215, 220, 228);
    --pink: rgb(216, 5, 128);
    --gold: rgb(249, 187, 1);
    --green: rgb(6, 211, 6);
    --blue: rgb(10, 168, 253);
    --red: rgb(251, 7, 7);

   
}

body {
    background-color: var(--dark);
    color: var(--light);
    margin: 1em;
}

header {
    display: inline-block;
    padding: 2em;
}

#timer-count {
    color: var(--pink);
}

main {
    border-bottom: 2px solid var(--light);
    text-align: center;
}

#start {
    font-size: xx-large;
    font-weight: bolder;
    padding: 1em;
}

#quiz {
    margin-left: 20em;
    margin-right: 20em;
}

#A {
    background-color: var(--light);
    color: var(--dark);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

#B {
    background-color: var(--light);
    color: var(--dark);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

#C {
    background-color: var(--light);
    color: var(--dark);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

#D {
    background-color: var(--light);
    color: var(--dark);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

#right {
    color: var(--gold);

}

#wrong {
    color: var(--red);
}


#saved-user-card {
    color: var(--gold);
}

#view-scores:hover {
    color: var(--gold);
    cursor: grab;
}

#start:hover {
    color: var(--green);
    cursor: grab;
}

#A:hover {
    background-color: var(--gold);
    cursor: grab;
}

#B:hover {
    background-color: var(--green);
    cursor: grab;
}

#C:hover {
    background-color: var(--blue);
    cursor: grab;
}

#D:hover {
    background-color: var(--red);
    cursor: grab;
}

#save:hover {
    background-color: var(--green);
}

@media screen and (max-width: 850px){
    #quiz{
        margin-left: 5em;
        margin-right: 5em;
    }
}

@media screen and (max-width: 500px){
    #quiz{
        margin-left: 1em;
        margin-right: 1em;
    }
}
    
