:root {
    --dark: rgb(69, 53, 43);
    --darker: rgba(29, 24, 22, 0.731);
    --light: rgb(215, 220, 228);
    --gold: rgb(248, 210, 97);
    --green: rgb(192, 219, 166);
    --blue: rgb(176, 222, 247);
}

header {
    display: block;
    padding: 2em;
    margin-bottom: 3em;
}

body {
    background-color: var(--dark);
    background-image: url(../images/DSC_0066.JPG);
    color: var(--light);
    margin: 1em;

}

.logo {
    font-size: 23px;
    color: var(--green);
}

a {
    color: var(--light);
}

#view-scores {
    font-style: normal;
    font-size: 15px;
}

#timer-count {
    color: var(--blue);
}

main {
    text-align: center;
}

.start-header {
    display: inline-flex;
    margin-bottom: 2em;
}

#start {
    font-size: 23px;
    background-color: var(--darker);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 3px 4px 9px black;
}

#quiz {
    margin-left: 20em;
    margin-right: 20em;
}


.ques {
    font-size: larger;
}

.choice {
    background-color: var(--darker);
    color: var(--light);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.message {
    color: var(--green);
    font-size: larger;
}

#form {
    margin-bottom: 3em;
}

#save {
    border: none;
    background-color: var(--darker);
    color: var(--light);
    padding: 10px;
    border-radius: 8px;
}

.message-wrong {
    color: var(--gold);
    font-size: larger;
}

#saved-user-card {
    color: var(--light);
    background-color: var(--darker);
    padding: 1.5em;
    box-shadow: 3px 4px 15px black;
    cursor: default;
}

#saved-user-card p {
    color: var(--green);
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 3em;
    width: 100%;
    color: var(--light);
    text-align: center;
}


#page-refresh {
    color: var(--light);
    background-color: var(--darker);
    box-shadow: 3px 4px 15px black;
    border-radius: 8px;
    border-style: none;
    font-size: x-large;
    padding: 1.5em;
}

#view-scores:hover {
    color: var(--blue);
    cursor: pointer;
}

#start:hover {
    box-shadow: 3px 7px 20px black;
    background-color: rgba(33, 30, 28, 0.79);
    cursor: pointer;
}

.choice:hover {
    box-shadow: 3px 4px 17px black;
    cursor: grab;
}

#save:hover {
    box-shadow: 3px 7px 20px black;
}

a:hover {
    color: var(--blue);
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    #quiz {
        margin-left: 5em;
        margin-right: 5em;
    }
}

@media screen and (max-width: 500px) {
    #quiz {
        margin-left: 1em;
        margin-right: 1em;
    }
}