:root {
    --distance: 1em;
}

body {
    background-color: rgb(8, 9, 11);
    color: rgba(240, 255, 255, 0.894);
}

header {
    text-align: center;
    padding-top: var(--distance);
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: var(--distance);
    column-gap: var(--distance);
    padding: var(--distance);
}

.card {
    display: block;
    background-color:	#202d52;
    border: 3px solid #4c6e85;
    border-radius: 8px;
    margin: 30px auto;
    padding: 20px;
    width: 80vw;
    height: 600px;
  }


.quizCard1 {
  flex: 1;
}

.timer {
    width: 60vw;
    height: 100px;
    background: #13293d;
    color: #fff;
    text-align: center;
    border: 3px solid rgba(9, 9, 9, 0.529);
  }
  
  .timer-text {
    padding: 20px;
  }